/* Variables
-----------------------------------------------------------------*/

$main_color: #D29F13;
$main_color2: #C18D00;
$main_color3: #9F6900;
$main_color4: #8E5700;
$body_color: #141618;
$sub_bg: #fff6e0;
$main_bg: #fdf6e5;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;
